@{
    ViewBag.Title = "About";
}
<h2>What's The Diff?</h2>

<p>
    This project was started to improve the way we review Pull Requests on GitHub.
</p>

<p>
    Pull Requests are excellent, but at a certain threshold of complexity it becomes difficult to identify exactly what has changed and the potential impact.  
    It can also be hard to work out which parts of the code are "important" and which have been updated as a side effect of the actual changes.
    This can lead to PRs being merged with a weaker understanding of the changes and less stringent review.
</p>

<p>
    What's The Diff seeks to improve this by changing how we view PRs; rather than presenting a flat list of files, WTD arranges, categorises and adds each file
    to a hierarchy, so it is easier to see how the files have changed and to which part of the system they relate.
</p>